body {
	height: 100vh;
	width: 100%;
	background-image: url("../images/felt.jpg");
	background-size: cover;
	background-color: hsla(50, 33%, 25%, 0.3);
}

h1 {
	text-align: center;
	text-shadow: 1px 1px 2px white;
	align-content: center;
	margin-bottom: 30px;
	margin-top: 0;
	font-size: 50px;
	height: 60px;
}

form {
	display: flex;
}

.name {
	align-items: center;
	justify-content: center;
}

.name-input {
	width: 30%;
	height: 50px;
	border-radius: 30px;
	text-align: center;
	font-size: 20px;
}

#players-submit {
	background-color: lightyellow;
}

#player1-name-input {
	background-color: aliceblue;
}

#player2-name-input {
	background-color: lavenderblush;
}

#player-names {
	width: 100%;
	height: 50px;
	display: flex;
	visibility: hidden;
	justify-content: space-between;
}

#player1, #player2 {
	width: 45%;
	font-size: 40px;
	color: white;
	text-align: center;
}

#player-stats {
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	visibility: hidden;
}

#player1-stats, #player2-stats {
	width: 45%;
	border: 1px solid black;
	margin: 10px;
	background-color: lightgray;
	align-content: center;
	justify-content: center;
	font-size: 30px;
	text-align: center;
}

#play-area {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

 #hold-row {
 	display: flex;
	justify-content: space-between;
	width: 100%;
	visibility: hidden;
 }

#hold1, #hold2, #hold3, #hold4, #hold5 {
	height: 25px;
	width: 175px;
	text-align: center;
	color: lightgray;
	margin: 2px;
	font-size: 20px;
}

#card-location {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 20px;
	visibility: hidden;
}

#card1, #card2, #card3, #card4, #card5 {
	height: 275px;
	width: 175px;
	border-radius: 10px;
}

#button-bar {
	display: flex;
	justify-content: center;
	align-content: center;
	visibility: hidden;
}

.actions {
	width: 150px;
	height: 40px;
}

#bet-submit {
	margin-right: 20px;
}

button {
	border-radius: 15px;
	border: 1px black solid;
}